*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --header-dark-background: hsla(252, 49%, 12%, 0.932);
    --header-light-background: hsla(277, 100%, 92%, 0.932);
    --dark-background: linear-gradient(230deg, #150f2c, #1b1c2c);
    --light-background: linear-gradient(230deg, #fbe9ff, #ECDCFF);
    --dark-font: #1d1d1d;
    --card-dark-background: #252942;
    --card-light-background: #3b3758;
    --project-card-background: #0f0e1c;
    --footer-background: #0c0819;
    --border-color: #444354;
    --light-font: #fdfdfd;
    --primary-color: #a545dd;
    --hover-primary-color: #ff349a;
    --primary-gradient: linear-gradient(45deg, #a545dd, #ff349a);
    --glow-gradient: linear-gradient(115deg,
            #ee2a7b,
            #6228d7,
            #34cbf9,
            #6228d7,
            #ee2a7b);
    scroll-behavior: smooth;

    /* Swiper custom props */
    --swiper-navigation-color: var(--hover-primary-color);
    --swiper-pagination-color: var(--primary-gradient);
    --swiper-navigation-sides-offset: -15px;
    --swiper-pagination-bullet-inactive-opacity: .6;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bottom: -10px;

    scrollbar-color: var(--hover-primary-color) var(--dark-font);
}

::selection {
    background: var(--primary-color);
    color: var(--light-font);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-font);
}

::-webkit-scrollbar-thumb {
    background-color: var(--hover-primary-color);
    border-radius: 10px;
}

body {
    background: var(--dark-background);
    color: var(--light-font);
    font-family: "Corporative Alt", sans-serif;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 1300px;
}

body,
.btn,
.home__socials a {
    transition: all .8s;
}

/* Header */

.header {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    transition: all .6s;
    z-index: 2;
}

.scrolled {
    background-color: var(--header-dark-background);
    box-shadow: 0 8px 20px rgb(0 0 0 / 50%);
}

.header__logo {
    font-family: "Cinzel Decorative", sans-serif, system-ui;
    font-size: 2.4rem;
    font-weight: 400;
    margin: .8rem 0;
    user-select: none;
}

.header.scrolled .header__logo {
    font-size: 2rem;
    margin: .5rem 0;
}

.btn {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    box-shadow: 7px 7px 14px #0c0819,
        -7px -7px 14px #1e163f;
    color: var(--light-font);
    cursor: pointer;
    font-size: 1.3rem;
    padding: .75rem .8rem .4rem;
}

.btn:is(:hover, :focus) {
    background-color: var(--hover-primary-color);
}

.header.scrolled .btn {
    font-size: 1.1rem;
    padding: .7rem .7rem .3rem;
}

.nav-overlay,
.fi-sr-moon-stars,
.fi-sr-cross {
    display: none;
}

.nav-overlay {
    z-index: 1;
}

.header__nav {
    position: absolute;
    transition: all .4s;
    translate: 100% 0;
}

.header__nav.open {
    align-items: center;
    background: var(--dark-background);
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-width: 240px;
    position: fixed;
    right: 0;
    top: 0;
    translate: 0;
    width: 40%;
    z-index: 3;
}

.header__burger-menu[aria-expanded="true"] {
    z-index: 4;
}

.header__burger-menu[aria-expanded="true"] i:first-child {
    display: none;
}

.header__burger-menu[aria-expanded="true"] i:last-child {
    display: block;
}

.header__burger-menu[aria-expanded="true"] + .nav-overlay {
    backdrop-filter: blur(3px);
    background: #00000056;
    display: block;
    height: 100dvh;
    inset: 0;
    position: fixed;
    width: 100%;
}

.header__nav-list {
    display: none;
    font-size: 1.1rem;
    text-align: center;
}

.header__nav-list,
.skills__list,
.projects__list,
.credits__list,
.certificates__list {
    list-style: none;
    padding: 0;
}

.header__nav.open .header__nav-list {
    display: grid;
    row-gap: 2rem;
}

.header__nav-list a,
.credits__list a,
.certificates-list__item-link {
    text-decoration: none;
}

.header__nav-list a,
.credits__list a,
.certificates-list__item-link,
.about-me__description a,
.projects-tertiary-link {
    color: var(--light-font);
    transition: color .4s;
}

.header__nav-list a::after,
.credits__list a::after {
    background: var(--hover-primary-color);
    content: "";
    display: block;
    height: 2px;
    transition: all .4s;
    transform: scaleX(0);
}

.header__nav-list a:is(:hover, :focus, .active),
.credits__list a:is(:hover, :focus),
.scroll-to-top:is(:hover, :focus),
.certificates-list__item-link:is(:hover, :focus),
.about-me__description a:is(:hover, :focus),
.projects-tertiary-link:is(:hover, :focus) {
    color: var(--hover-primary-color);
}

.header__nav-list a:is(:hover, :focus, .active)::after,
.credits__list a:is(:hover, :focus)::after {
    transform: scaleX(1);
}

/* Home */

.home {
    gap: 1rem;
    min-height: calc(90vh - 80px);
    position: relative;
}

.home,
#about-me,
#skills,
#projects,
#contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 85%;
}

#about-me,
#skills,
#projects,
#contact {
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding-top: 5rem;
}

.home__socials {
    display: flex;
    gap: 1rem;
    left: 50%;
    position: absolute;
    top: 2vh;
    translate: -50%;
    z-index: 1;
}

.home__socials a {
    color: var(--light-font);
    font-size: 2rem;
    text-decoration: none;
}

.home__socials a:is(:hover, :focus) {
    color: var(--primary-color);
    scale: 1.2;
}

.home__perfil-img {
    background: url("../assets/blob.svg") no-repeat center;
    background-size: contain;
    display: grid;
    height: 300px;
    margin-top: 1.8rem;
    place-items: center;
    position: relative;
}

.home__perfil-img img {
    border-radius: 100px;
    height: 250px;
    transition: all .6s;
}

.home__perfil-img:hover img {
    scale: 1.1;
}

.home__title {
    align-self: center;
    font-size: 1.58rem;
    line-height: initial;
    margin-top: 0;
}

.home__title--highlight {
    background: var(--primary-gradient);
    background-clip: text;
    display: block;
    position: relative;
    min-height: 68px;
    user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__title--highlight::after {
    animation: cursor-blink 1s alternate infinite;
    background-color: var(--primary-color);
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 1.4em;
    margin-left: 3px;
    position: absolute;
    width: 4px;
}

@keyframes cursor-blink {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

.home__cv-download-button,
.contact__form-button {
    align-items: center;
    align-self: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    color: var(--light-font);
    cursor: pointer;
    display: flex;
    gap: .6rem;
    justify-content: center;
    outline: 2px solid var(--primary-color);
    overflow: hidden;
    padding: 12px 15px;
    position: relative;
    text-decoration: none;
    transition: all 1s;
}

:is(.home__cv-download-button, .contact__form-button):is(:hover, :focus) {
    background-color: var(--hover-primary-color);
    outline-color: rgba(255, 52, 154, 0);
    outline-offset: 15px;
}

.home__cv-download-button::before {
    background-color: hsla(0, 0%, 100%, 0.451);
    content: "";
    display: inline-block;
    height: 5em;
    opacity: 0;
    position: absolute;
    transition: transform .5s;
    transform: translate(-10rem) rotate(35deg);
    width: 20px;
}

.home__cv-download-button:is(:hover, :focus)::before {
    opacity: 1;
    transform: translate(10rem) rotate(35deg);
}

/* About me */

.about-me-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    place-items: center;
}

.about-me__img {
    border-radius: 20px;
    margin: 1rem 0;
}

.certificates__list {
    margin-top: 3rem;
}

.certificates__list li {
    background-color: var(--card-dark-background);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 1rem;
    transition: all .5s;
}

.certificates__list li:hover {
    background-color: var(--project-card-background);
    scale: 1.1;
}

.certificates-list__item-link::before {
    content: "Link para o certificado";
    display: block;
    margin-bottom: 10px;
}

.certificates-list__item-link img {
    border-radius: 10px;
}

/* Skills */

.skills__list,
.certificates__list {
    column-gap: 3.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 2rem;
}

.skills__list-item {
    background-color: var(--card-dark-background);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    display: grid;
    grid-row-gap: 1rem;
    letter-spacing: 2px;
    padding: 1rem 3rem;
    text-align: center;
    width: 280px;
    place-items: center;
    text-transform: uppercase;
    transition: all 1s;
}

.skills__list-item::before {
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
}

.skills--html::before {
    background: url("../assets/HTML.svg") no-repeat center / contain;
}

.skills--css::before {
    background: url("../assets/CSS.svg") no-repeat center / contain;
}

.skills--js::before {
    background: url("../assets/JavaScript.svg") no-repeat center / contain;
}

.skills--angular::before {
    background: url("../assets/Angular-Dark.svg") no-repeat center / contain;
}

.skills--ts::before {
    background: url("../assets/TypeScript.svg") no-repeat center / contain;
}

.skills--git::before {
    background: url("../assets/Git.svg") no-repeat center / contain;
}

.skills--java::before {
    background: url("../assets/Java-Light.svg") no-repeat center / contain;
}

.skills--mysql::before {
    background: url("../assets/MySQL-Dark.svg") no-repeat center / contain;
}

.skills--bootstrap::before {
    background: url("../assets/Bootstrap.svg") no-repeat center / contain;
}

.skills--styled::before {
    background: url("../assets/StyledComponents.svg") no-repeat center / contain;
}

.skills--tailwind::before {
    background: url("../assets/TailwindCSS-Dark.svg") no-repeat center / contain;
}

.skills--react::before {
    background: url("../assets/React-Dark.svg") no-repeat center / contain;
}

/* Projects */

.swiper {
    width: 100%;
}

.projects-container.swiper {
    padding: 20px;
}

.projects__list-item {
    background-color: var(--project-card-background);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    min-height: 350px;
    padding: 10px;
}

.projects__img {
    align-self: center;
    border-radius: 20px;
    object-fit: cover;
}

.project-text-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.project-techs {
    display: flex;
    justify-content: center;
    gap: .8rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.project-techs__tag {
    background: var(--border-color);
    color: var(--light-font);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: .75rem;
}

.projects__link {
    border: none;
    padding: 10px 26px;
    position: relative;
    z-index: 0;
}

.projects__link,
.projects__secondary-link {
    border-radius: 50px;
    color: var(--light-font);
    cursor: default;
    margin: 1rem;
    opacity: .7;
    pointer-events: none;
    text-decoration: none;
    display: flex;
    place-items: center;
    gap: .5rem;
}

.projects__link::before {
    animation: glowing 15s linear infinite;
    background: var(--glow-gradient);
    background-size: 400%;
    border-radius: 50px;
    content: "";
    filter: blur(4px);
    height: calc(100% + 14px);
    left: -7px;
    opacity: 0;
    position: absolute;
    top: -7px;
    transition: opacity 0.3s ease-in-out;
    width: calc(100% + 14px);
    z-index: -1;
}

.projects__link:is(:hover, :focus)::before {
    opacity: 1;
}

.projects__link::after {
    background: var(--primary-color);
    border-radius: 50px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 1s;
    width: 100%;
    z-index: -1;
}

.projects__link:is(:hover, :focus)::after {
    background-color: var(--hover-primary-color);
}

.projects__secondary-link {
    border: 2px solid var(--primary-color);
    padding: 10px 15px;
    transition: all .5s;
}

.projects__secondary-link:is(:hover, :focus) {
    background-color: var(--primary-color);
}

.swiper-slide-active :is(.projects__link, .projects__secondary-link) {
    cursor: pointer;
    pointer-events: initial;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 400%;
    }

    100% {
        background-position: -400%;
    }
}

.swiper-pagination-bullet {
    transition: scale .5s;
}

.swiper-pagination-bullet-active {
    scale: 1.4;
}

#projects::after {
    background: url("../assets/undraw_proud_coder.svg") no-repeat center / contain;
    content: "";
    height: 22rem;
    margin-top: 2rem;
    max-width: 40rem;
    width: 85%;
}

/* Contact */

.contact__form {
    background: linear-gradient(145deg, #171728, #1c1c2f);
    box-shadow: 13px 13px 21px #141422,
        -13px -13px 21px #202036;
    border-radius: 28px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
    padding: 2rem;
    place-content: center;
    width: 85%;
}

.contact__form :is(input, textarea) {
    background-color: var(--border-color);
    border: none;
    border-radius: 15px;
    color: var(--light-font);
    margin-bottom: .8rem;
    padding: 10px;
}

.contact__form :is(input, textarea)::placeholder {
    color: #b9b9b9;
}

.contact__form-button {
    place-self: center;
    max-width: 300px;
    width: 50%;
}

#message {
    resize: none;
    width: 100%;
}

/* Footer */

.footer {
    background: var(--footer-background);
    margin-top: 8rem;
    padding: 2rem;
    text-align: center;
}

.footer__credits h4,
.footer__copyright {
    font-size: 1.1rem;
}

.credits__list {
    display: grid;
    gap: .2rem;
    grid-template-columns: 1fr;
    margin: 0 auto 3rem;
    place-content: center;
    text-align: initial;
    width: fit-content;
}

.credits__list li {
    width: fit-content;
}

.scroll-to-top {
    bottom: 2rem;
    color: var(--primary-color);
    display: none;
    font-size: 2rem;
    position: fixed;
    right: 2rem;
    text-decoration: none;
    transition: all 1s;
    z-index: 5;
}

.scroll-to-top.show {
    display: block;
}

/* Light mode */

body.light {
    background: var(--light-background);
}

body.light,
.light .home__socials a,
.light .header__nav-list a,
.light .about-me__description a {
    color: var(--dark-font);
}

.light .header.scrolled {
    background: var(--header-light-background);
    box-shadow: 0 8px 20px rgb(0 0 0 / 20%);
}

.light .btn {
    background-color: var(--primary-color);
    box-shadow: none;
}

.light .btn:is(:hover, :focus) {
    background-color: var(--hover-primary-color);
}

.light .header__dark-light-switch i:last-child {
    display: block;
}

.light .header__dark-light-switch i:first-child {
    display: none;
}

.light .header__nav.open {
    background: var(--light-background);
}

.light .header__nav-list a:is(:focus, :hover, .active) {
    color: var(--hover-primary-color);
}

.light .home__socials a:is(:hover, :focus),
.light .about-me__description a:is(:focus, :hover) {
    color: var(--primary-color);
}

.light .skills__list-item,
.light .projects__list-item,
.light .certificates__list li {
    background: var(--card-light-background);
    border: none;
    color: var(--light-font);
}

.light .certificates__list li:hover {
    background: var(--card-dark-background);
}

.light .project-techs__tag {
    background: var(--dark-font);
}

.light .contact__form {
    background: linear-gradient(145deg, #d4c6e6, #fdebff);
    box-shadow: 9px 9px 18px #d4c6e6,
        -9px -9px 18px #fff2ff;
}

.light .contact__form :is(input, textarea) {
    background-color: var(--light-font);
    color: var(--dark-font);
}

.light .footer {
    color: var(--light-font);
}

/* Media Queries */

@media screen and (min-width: 600px) {
    .about-me__img {
        width: 300px;
    }

    .certificates-list__item-link img {
        width: 350px;
    }

    .projects__img {
        height: 90%;
    }

    .credits__list {
        column-gap: 5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .scroll-to-top {
        bottom: 4rem;
        font-size: 3rem;
        right: 4rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }

    #about-me,
    #skills,
    #projects,
    #contact {
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .home__title {
        line-height: 1.5;
    }

    .home__title,
    .about-me__title,
    .skills__title,
    .projects__title,
    .contact__title {
        margin-bottom: 2rem;
    }

    .skills__item::before {
        height: 40px;
        width: 40px;
    }

    .projects__list-item {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .header__nav-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: .6rem 1.5rem;
        justify-content: center;
        margin: 0;
    }

    .header__burger-menu,
    .header__burger-menu[aria-expanded="true"] + .nav-overlay {
        display: none;
    }

    .header__nav {
        position: static;
        translate: 0;
    }

    .home {
        display: grid;
        grid-template-areas:
            "social title img"
            ". btn .";
        min-height: calc(80vh - 80px);
        place-content: center;
        place-items: center;
        row-gap: 0;
    }

    .home__socials {
        flex-direction: column;
        grid-area: social;
        margin-left: 2rem;
        position: static;
    }

    .home__perfil-img {
        grid-area: img;
        width: 300px;
    }

    .home__title {
        grid-area: title;
        margin-bottom: 0;
    }

    .home__cv-download-button {
        grid-area: btn;
    }

    .about-me-container {
        grid-template-columns: 400px 1fr;
        gap: 1rem;
    }

    .skills__item::before {
        height: 50px;
        width: 50px;
    }

    .credits__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .certificates-list__item-link img {
        width: 400px;
    }
}