*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --header-dark-background: hsla(252, 49%, 12%, 0.932);
    --header-light-background: hsla(277, 100%, 92%, 0.932);
    --dark-background: linear-gradient(230deg, #150f2c, #1b1c2c);

    /* --light-background: linear-gradient(225deg, #fbe9ff 0%, #f2d7fa 100%); */

    /* --light-background: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%); */

    --light-background: linear-gradient(230deg, #f2e4ff, #fbe9ff);
    /* --light-background: linear-gradient(230deg, #fbe9ff, #ECDCFF); */

    /* --light-background: linear-gradient(147deg, #fbe9ff 0%, #fcf5fc 70%); */
    --dark-font: #1d1d1d;
    --card-dark-background: #252942;
    /* --card-light-background: #3b3758; */
    --card-light-background: #3b2c5f;
    --project-card-background: #0f0e1c;
    --footer-background: #0c0819;
    --border-color: #444354;
    --light-font: #fdfdfd;
    --primary-color: #a545dd;
    --hover-primary-color: #ff349a;
    --primary-gradient: linear-gradient(45deg, #a545dd, #ff349a);
    --glow-gradient: linear-gradient(115deg,
            #ee2a7b,
            #6228d7,
            #34cbf9,
            #6228d7,
            #ee2a7b);
    scroll-behavior: smooth;

    /* Swiper custom props */
    --swiper-navigation-color: var(--hover-primary-color);
    --swiper-pagination-color: var(--primary-gradient);
    --swiper-navigation-sides-offset: -15px;
    --swiper-pagination-bullet-inactive-opacity: .6;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bottom: -10px;
}

::selection {
    background: var(--primary-color);
    color: var(--light-font);
}

body {
    background: var(--dark-background);
    color: var(--light-font);
    font-family: "Corporative Alt", sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color .8s;
    line-height: 1.5;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

body,
.btn,
.home__socials a {
    transition: all .8s;
}

/* Header */

.header {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    transition: all .6s;
    z-index: 2;
}

.scrolled {
    background-color: var(--header-dark-background);
    box-shadow: 0 8px 20px rgb(0 0 0 / 50%);
}

.header__logo {
    font-family: "Cinzel Decorative", sans-serif, system-ui;
    font-size: 2.4rem;
    font-weight: 400;
    margin: .8rem 0;
    user-select: none;
}

.header.scrolled .header__logo {
    font-size: 2rem;
    margin: .5rem 0;
}

.btn {
    border: none;
    background-color: transparent;
    box-shadow: 7px 7px 14px #0c0819,
        -7px -7px 14px #1e163f;
    border-radius: 100%;
    color: var(--light-font);
    font-size: 1.3rem;
    padding: .75rem .8rem .4rem;
    cursor: pointer;
}

.btn:is(:hover, :focus) {
    background-color: var(--hover-primary-color);
}

.header.scrolled .btn {
    font-size: 1.1rem;
    padding: .7rem .7rem .3rem;
}

.nav-overlay,
.fi-sr-moon-stars,
.fi-sr-cross {
    display: none;
}

.nav-overlay {
    z-index: 1;
}

.header__nav {
    translate: 100% 0;
    position: absolute;
    transition: all .4s;
}

.header__nav.open {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 240px;
    height: 100%;
    background: var(--dark-background);
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
    translate: 0;
}

.header__burger-menu:has(~.header__nav.open) {
    z-index: 4;
}

.header__burger-menu:has(~.header__nav.open) i:first-child {
    display: none;
}

.header__burger-menu:has(~.header__nav.open) i:last-child {
    display: block;
}

.nav-overlay:has(~.header__nav.open) {
    backdrop-filter: blur(3px);
    background: #00000056;
    display: block;
    height: 100dvh;
    inset: 0;
    position: fixed;
    width: 100%;
}

.header__nav-list {
    display: none;
    font-size: 1.1rem;
    text-align: center;
}

.header__nav-list,
.skills__list,
.projects__list,
.credits__list {
    list-style: none;
    padding: 0;
}

.header__nav.open .header__nav-list {
    display: grid;
    row-gap: 2rem;
}

.header__nav-list a,
.credits__list a {
    text-decoration: none;
    color: var(--light-font);
    transition: color .4s;
}

.header__nav-list a::after,
.credits__list a::after {
    content: "";
    display: block;
    height: 2px;
    transform: scaleX(0);
    background: var(--hover-primary-color);
    transition: all .4s;
}

.header__nav-list a:is(:hover, :focus, .active),
.credits__list a:is(:hover, :focus),
.scroll-to-top:is(:hover, :focus) {
    color: var(--hover-primary-color);
}

.header__nav-list a:is(:hover, :focus, .active)::after,
.credits__list a:is(:hover, :focus)::after {
    transform: scaleX(1);
}

/* Home */

.home {
    position: relative;
    min-height: calc(90vh - 80px);
    gap: 1rem;
}

.home,
#about-me,
#skills,
#projects,
#contact {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

#about-me,
#skills,
#projects,
#contact {
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
    margin-top: 1rem;
}

.home__socials {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    top: 2vh;
    translate: -50%;
    z-index: 1;
}

.home__socials a {
    color: var(--light-font);
    font-size: 2rem;
    text-decoration: none;
}

.home__socials a:is(:hover, :focus) {
    color: var(--primary-color);
}

.home__perfil-img {
    background: url("../assets/blob.svg") no-repeat center;
    height: 300px;
    margin-top: 1.8rem;
    position: relative;
    display: grid;
    place-items: center;
}

.home__perfil-img img {
    height: 250px;
    border-radius: 100px;
    transition: all .6s;
}

.home__perfil-img:hover img {
    scale: 1.1;
}

.home__title {
    margin-top: 0;
    align-self: center;
    font-size: 1.5rem;
    line-height: initial;
}

.home__title--highlight {
    background: var(--primary-gradient);
    background-clip: text;
    display: block;
    position: relative;
    user-select: none;
    min-height: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__title--highlight::after {
    animation: cursor-blink 1s alternate infinite;
    background-color: var(--primary-color);
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 1.4em;
    margin-left: 3px;
    position: absolute;
    width: 4px;
}

@keyframes cursor-blink {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

.home__cv-download-button,
.contact__form-button {
    background-color: var(--primary-color);
    color: var(--light-font);
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    transition: all 1s;
    position: relative;
    display: inline-block;
    outline: 2px solid var(--primary-color);
    overflow: hidden;
    align-self: center;
}

:is(.home__cv-download-button, .contact__form-button):is(:hover, :focus) {
    background-color: var(--hover-primary-color);
    outline-offset: 15px;
    outline-color: rgba(255, 52, 154, 0);
}

.home__cv-download-button::before {
    content: "";
    position: absolute;
    width: 20px;
    display: inline-block;
    height: 70px;
    transform: translate(-20px, -25px) rotate(35deg);
    background-color: hsla(0, 0%, 100%, 0.451);
    opacity: 0;
    transition: transform .5s;
}

.home__cv-download-button:is(:hover, :focus)::before {
    transform: translate(17rem, -25px) rotate(35deg);
    opacity: 1;
}

.about-me-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    place-items: center;
}

.about-me__img {
    margin: 1rem 0;
    border-radius: 20px;
}

/* Skills */

.skills__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

.skills__list-item {
    background-color: var(--card-dark-background);
    padding: 1rem 3rem;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    display: grid;
    place-items: center;
    grid-row-gap: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    min-width: 250px;
    transition: all 1s;
}

.skills__list-item::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
}

.skills--html::before {
    background: url("../assets/HTML.svg") no-repeat center / contain;
}

.skills--css::before {
    background: url("../assets/CSS.svg") no-repeat center / contain;
}

.skills--js::before {
    background: url("../assets/JavaScript.svg") no-repeat center / contain;
}

.skills--ts::before {
    background: url("../assets/TypeScript.svg") no-repeat center / contain;
}

.skills--git::before {
    background: url("../assets/Git.svg") no-repeat center / contain;
}

.skills--java::before {
    background: url("../assets/Java-Dark.svg") no-repeat center / contain;
}

.skills--mysql::before {
    background: url("../assets/MySQL-Dark.svg") no-repeat center / contain;
}

.skills--bootstrap::before {
    background: url("../assets/Bootstrap.svg") no-repeat center / contain;
}

/* Projects */

.swiper {
    width: 90%;
}

.projects__list-item {
    padding: 10px;
    border-radius: 30px;
    min-height: 350px;
    background-color: var(--project-card-background);
    border: 1px solid var(--border-color);
}

.projects__img {
    border-radius: 20px;
    align-self: center;
}

.project-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.projects__link {
    text-decoration: none;
    color: var(--light-font);
    position: relative;
    z-index: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    margin: 1rem;
    pointer-events: none;
    cursor: default;
    opacity: .7;
}

.projects__link::before {
    content: "";
    background: var(--glow-gradient);
    position: absolute;
    top: -7px;
    left: -7px;
    background-size: 400%;
    z-index: -1;
    filter: blur(4px);
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    animation: glowing 15s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
}

.projects__link:is(:hover, :focus)::before {
    opacity: 1;
}

.projects__link::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    left: 0;
    top: 0;
    border-radius: 50px;
    transition: background-color 1s;
}

.projects__link:is(:hover, :focus)::after {
    background-color: var(--hover-primary-color);
}

.swiper-slide-active .projects__link {
    cursor: pointer;
    pointer-events: initial;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 400%;
    }

    100% {
        background-position: -400%;
    }
}

.swiper-pagination-bullet {
    transition: scale .5s;
}

.swiper-pagination-bullet-active {
    scale: 1.4;
}

#projects::after {
    content: "";
    width: 85%;
    max-width: 40rem;
    margin-top: 2rem;
    height: 22rem;
    background: url("../assets/undraw_proud_coder.svg") no-repeat center / contain;
}

/* Contact */

.contact__form {
    display: grid;
    place-content: center;
    width: 85%;
    grid-template-columns: 1fr;
    gap: 1rem;
    border-radius: 28px;
    padding: 3rem;
    background: linear-gradient(145deg, #171728, #1c1c2f);
    box-shadow: 13px 13px 21px #141422,
        -13px -13px 21px #202036;
    margin-bottom: 3rem;
}

.contact__form :is(input, textarea) {
    border: none;
    background-color: var(--border-color);
    padding: 10px;
    color: var(--light-font);
    border-radius: 15px;
    margin-bottom: .8rem;
}

.contact__form :is(input, textarea)::placeholder {
    color: #b9b9b9;
}

.contact__form-button {
    width: 50%;
    place-self: center;
    cursor: pointer;
}

#message {
    resize: none;
    width: 100%;
}

/* Footer */

.footer {
    background: var(--footer-background);
    padding: 2rem;
    text-align: center;
    margin-top: 8rem;
}

.footer__credits h4,
.footer__copyright {
    font-size: 1.1rem;
}

.credits__list {
    display: grid;
    place-content: center;
    text-align: initial;
    gap: .2rem;
    grid-template-columns: 1fr;
    margin: 0 auto 3rem;
    width: fit-content;
}

.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    color: var(--primary-color);
    font-size: 2rem;
    z-index: 5;
    text-decoration: none;
    transition: all 1s;
    display: none;
}

.scroll-to-top.show {
    display: block;
}

/* Light mode */

body.light {
    background: var(--light-background);
}

body.light,
.light .home__socials a,
.light .header__nav-list a {
    color: var(--dark-font);
}

.light .header.scrolled {
    background: var(--header-light-background);
}

.light .btn {
    box-shadow: none;
    background-color: var(--primary-color);
}

.light .btn:is(:hover, :focus) {
    background-color: var(--hover-primary-color);
}

.light .header__dark-light-switch i:last-child {
    display: block;
}

.light .header__dark-light-switch i:first-child {
    display: none;
}

.light .header__nav.open {
    background: var(--light-background);
}

.light .header__nav-list a:is(:focus, :hover, .active) {
    color: var(--hover-primary-color);
}

.light .home__socials a:is(:hover, :focus) {
    color: var(--primary-color);
}

.light .skills__list-item,
.light .projects__list-item {
    background: var(--card-light-background);
    color: var(--light-font);
    border: none;
}

.light .contact__form {
    /* background: linear-gradient(145deg, #ffffff, #e3dde3);
    box-shadow: 7px 7px 14px #bdb8bd,
        -7px -7px 14px #ffffff; */

    /* background: linear-gradient(145deg, #faf0ef, #d3cac9);
    box-shadow: 5px 5px 13px #b4acac,
        -5px -5px 13px #ffffff; */

    /* background: linear-gradient(145deg, #ffddff, #d6bade);
    box-shadow: 5px 5px 13px #b79fbe,
        -5px -5px 13px #fdfdfd; */

    /* background: linear-gradient(145deg, #fff9ff, #e2d2e6);
    box-shadow: 6px 6px 12px #c1b3c4,
        -6px -6px 12px #ffffff; */
    background: linear-gradient(225deg, #fff9ff, #e2d2e6);
    box-shadow: -6px 6px 12px #c1b3c4,
        6px -6px 12px #ffffff;
}

.light .contact__form :is(input, textarea) {
    background-color: var(--light-font);
    color: var(--dark-font);
}

.light .footer {
    color: var(--light-font);
}

/* Media Queries */

@media screen and (min-width: 600px) {

    .projects__img {
        height: 100%;
    }

    .credits__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
    }

    .scroll-to-top {
        right: 4rem;
        bottom: 4rem;
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }

    #about-me,
    #skills,
    #projects,
    #contact {
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .home__title {
        line-height: 1.5;
    }

    .home__title,
    .about-me__title,
    .skills__title,
    .projects__title,
    .contact__title {
        margin-bottom: 2rem;
    }

    .about-me__img {
        width: 300px;
    }

    .skills__item::before {
        width: 40px;
        height: 40px;
    }

    .projects__list-item {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .header__nav-list {
        display: flex;
        gap: .6rem 1.5rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    .header__burger-menu {
        display: none;
    }

    .header__nav {
        translate: 0;
        position: static;
    }

    .home {
        display: grid;
        grid-template-areas:
            "social title img"
            ". btn .";
        place-items: center;
        place-content: center;
        row-gap: 0;
        min-height: calc(80vh - 80px);
    }

    .home__socials {
        flex-direction: column;
        position: static;
        grid-area: social;
        margin-left: 2rem;
    }

    .home__perfil-img {
        grid-area: img;
        width: 300px;
    }

    .home__title {
        grid-area: title;
        margin-bottom: 0;
    }

    .home__cv-download-button {
        grid-area: btn;
    }

    .about-me-container {
        grid-template-columns: 400px 1fr;
        gap: 1rem;
    }

    .skills__item::before {
        width: 50px;
        height: 50px;
    }

    .credits__list {
        grid-template-columns: repeat(3, 1fr);
    }
}
