.no-js .header {
    flex-wrap: wrap;
    position: static;
}

.no-js :is(.header__burger-menu, .header__dark-light-switch) {
    display: none;
}

.no-js .header__nav {
    translate: 0;
    width: 100%;
    position: static;
}

.no-js .header__nav-list {
    display: flex;
    gap: 0.6rem 0.8rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.no-js .header__nav-item::after {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: antiquewhite;
}

.no-js .header__nav-item:is(:first-child, :nth-child(even)) {
    border-right: 2px solid var(--light-font);
    padding-right: 0.8rem;
}

.no-js .home {
    min-height: 100vh;
}

.no-js .home__socials {
    top: 4vh;
}

.no-js .home__title--highlight::before {
    content: "Desenvolvedora Web Frontend!";
}

.no-js .skills__list-item {
    opacity: 1;
    translate: 0;
    transform: initial;
}