*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --header-dark-background: #1A1A40;
    --dark-background: linear-gradient(to bottom, #141e30, #243b55);
    --light-font: #fdfdfd;
    --primary-color: #a545dd;
    --hover-primary-color: #ff349a;
    --primary-gradient: linear-gradient(45deg, #a545dd, #ff349a);
    scroll-behavior: smooth;
}

body {
    background: var(--dark-background);
    color: var(--light-font);
    font-family: "Corporative Alt", sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color .8s;
}

body,
.btn,
.home__socials a {
    transition: all .8s;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    transition: all .6s;
    z-index: 1;
}

.scrolled {
    background-color: var(--header-dark-background);
    box-shadow: 0 8px 20px rgb(0 0 0 / 70%);
}

.header__logo {
    /*
        Aguafina Script
        Amarante
        Baumans
        Cinzel Decorative
        Charm
        Oleo Script Swash Caps
        Uncial Antiqua
    */
    font-family: "Cinzel Decorative", sans-serif, system-ui;
    font-size: 2.5rem;
    font-weight: 400;
    margin: .8rem 0;
}

.header.scrolled .header__logo {
    font-size: 2rem;
    margin: .5rem 0;
}

.btn {
    border: none;
    background-color: var(--primary-color);
    border-radius: 100%;
    color: var(--light-font);
    font-size: 1.4rem;
    padding: .8rem .8rem .4rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hover-primary-color);
}

.header.scrolled .btn {
    font-size: 1.1rem;
    padding-top: .75rem;
}

.nav-overlay,
.fi-sr-moon-stars,
.fi-sr-cross {
    display: none;
}

.nav-overlay {
    z-index: 2;
}

.header__nav {
    translate: 100% 0;
    position: absolute;
    transition: all .4s;
}

.header__nav.open {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 100%;
    background: var(--dark-background);
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
    translate: 0;
}

.header__burger-menu:has(~.header__nav.open) {
    z-index: 3;
}

.header__burger-menu:has(~.header__nav.open) i:first-child {
    display: none;
}

.header__burger-menu:has(~.header__nav.open) i:last-child {
    display: block;
}

.nav-overlay:has(~.header__nav.open) {
    backdrop-filter: blur(3px);
    background: #00000056;
    display: block;
    height: 100dvh;
    inset: 0;
    position: fixed;
    width: 100%;
}

.header__nav-list {
    display: none;
    font-size: 1.3rem;
    list-style: none;
    margin-top: 5rem;
    padding: 0;
    text-align: center;
}

.header__nav.open .header__nav-list {
    display: grid;
    row-gap: 2rem;
}

.header__nav-list a {
    text-decoration: none;
    color: var(--light-font);
    transition: color .4s;
}

.header__nav-list a::after {
    content: "";
    display: block;
    height: 2px;
    transform: scaleX(0);
    background: var(--hover-primary-color);
    transition: all .4s;
}

.header__nav-list a:hover {
    color: var(--hover-primary-color);
}

.header__nav-list a:hover::after {
    transform: scaleX(1);
}

.home {
    position: relative;
}

.home__socials {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
}

.home__socials a {
    color: var(--light-font);
    font-size: 2rem;
    text-decoration: none;
}

.home__socials a:hover {
    color: var(--primary-color);
}

.home__title--highlight {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}