*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --header-dark-background: hsla(252, 49%, 12%, 0.932);
    --dark-background: linear-gradient(230deg, #150f2c, #1b1c2c);
    --card-dark-background: #252942;
    --border-color: #778899;
    --light-font: #fdfdfd;
    --primary-color: #a545dd;
    --hover-primary-color: #ff349a;
    --primary-gradient: linear-gradient(45deg, #a545dd, #ff349a);
    scroll-behavior: smooth;
}

::selection {
    background: var(--primary-color);
    color: var(--light-font);
}

body {
    background: var(--dark-background);
    color: var(--light-font);
    font-family: "Corporative Alt", sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color .8s;
}

body,
.btn,
.home__socials a {
    transition: all .8s;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    transition: all .6s;
    z-index: 2;
}

.scrolled {
    background-color: var(--header-dark-background);
    box-shadow: 0 8px 20px rgb(0 0 0 / 50%);
}

.header__logo {
    font-family: "Cinzel Decorative", sans-serif, system-ui;
    font-size: 2.4rem;
    font-weight: 400;
    margin: .8rem 0;
    user-select: none;
}

.header.scrolled .header__logo {
    font-size: 2rem;
    margin: .5rem 0;
}

.btn {
    border: none;
    background-color: var(--primary-color);
    border-radius: 100%;
    color: var(--light-font);
    font-size: 1.3rem;
    padding: .75rem .8rem .4rem;
    cursor: pointer;
}

.btn:is(:hover, :focus) {
    background-color: var(--hover-primary-color);
}

.header.scrolled .btn {
    font-size: 1.1rem;
    padding: .7rem .7rem 0.3rem;
}

.nav-overlay,
.fi-sr-moon-stars,
.fi-sr-cross {
    display: none;
}

.nav-overlay {
    z-index: 3;
}

.header__nav {
    translate: 100% 0;
    position: absolute;
    transition: all .4s;
}

.header__nav.open {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 100%;
    background: var(--dark-background);
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
    translate: 0;
}

.header__burger-menu:has(~.header__nav.open) {
    z-index: 4;
}

.header__burger-menu:has(~.header__nav.open) i:first-child {
    display: none;
}

.header__burger-menu:has(~.header__nav.open) i:last-child {
    display: block;
}

.nav-overlay:has(~.header__nav.open) {
    backdrop-filter: blur(3px);
    background: #00000056;
    display: block;
    height: 100dvh;
    inset: 0;
    position: fixed;
    width: 100%;
}

.header__nav-list {
    display: none;
    font-size: 1.3rem;
    list-style: none;
    padding: 0;
    text-align: center;
}

.header__nav.open .header__nav-list {
    display: grid;
    row-gap: 2rem;
}

.header__nav-list a {
    text-decoration: none;
    color: var(--light-font);
    transition: color .4s;
}

.header__nav-list a::after {
    content: "";
    display: block;
    height: 2px;
    transform: scaleX(0);
    background: var(--hover-primary-color);
    transition: all .4s;
}

.header__nav-list a:is(:hover, :focus) {
    color: var(--hover-primary-color);
}

.header__nav-list a:is(:hover, :focus)::after {
    transform: scaleX(1);
}

.home {
    position: relative;
    min-height: calc(100vh - 80px);
    gap: 1rem;
}

.home,
#about-me,
#skills,
#projects,
#contact {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#about-me,
#skills,
#projects,
#contact {
    min-height: 90vh;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

.home__socials {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    top: 4vh;
    translate: -50%;
    z-index: 1;
}

.home__socials a {
    color: var(--light-font);
    font-size: 2rem;
    text-decoration: none;
}

.home__socials a:is(:hover, :focus) {
    color: var(--primary-color);
}

.home__perfil-img {
    background: url("../assets/blob.svg") no-repeat center;
    height: 300px;
    margin-top: 1.8rem;
    position: relative;
    display: grid;
    place-items: center;
}

.home__perfil-img img {
    height: 250px;
    border-radius: 100px;
    transition: all .6s;
}

.home__perfil-img:hover img {
    scale: 1.1;
}

.home__title {
    margin-top: 0;
    align-self: center;
    font-size: 1.5rem;
}

.home__title--highlight {
    background: var(--primary-gradient);
    background-clip: text;
    display: block;
    position: relative;
    user-select: none;
    min-height: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__title--highlight::after {
    animation: cursor-blink 1s alternate infinite;
    background-color: var(--primary-color);
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 30px;
    margin-left: 2px;
    position: absolute;
    width: 4px;
}

@keyframes cursor-blink {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

.home__cv-download-button {
    background-color: var(--primary-color);
    color: var(--light-font);
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 1s;
    position: relative;
    display: inline-block;
    outline: 2px solid var(--primary-color);
    overflow: hidden;
    align-self: center;
    width: fit-content;
}

.home__cv-download-button:is(:hover, :focus) {
    background-color: var(--hover-primary-color);
    outline-offset: 15px;
    outline-color: rgba(255, 52, 154, 0);
}

.home__cv-download-button::before {
    content: "";
    position: absolute;
    width: 20px;
    display: inline-block;
    height: 70px;
    transform: translate(-20px, -25px) rotate(35deg);
    background-color: hsla(0, 0%, 100%, 0.451);
    opacity: 0;
    transition: transform .5s;
}

.home__cv-download-button:is(:hover, :focus)::before {
    transform: translate(250px, -25px) rotate(35deg);
    opacity: 1;
}

.about-me__img {
    margin: 3rem 0;
    border-radius: 20px;
}

.skills__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.skills__list-item {
    background-color: var(--card-dark-background);
    padding: 1rem 3rem;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    display: flex;
    gap: 2rem;
    align-items: center;
    min-width: 250px;
    transition: all 1s;
}

.skills__list-item::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
}

.skills--html::before {
    background: url("../assets/HTML.svg") no-repeat center / contain;
}

.skills--css::before {
    background: url("../assets/CSS.svg") no-repeat center / contain;
}

.skills--js::before {
    background: url("../assets/JavaScript.svg") no-repeat center / contain;
}

.skills--ts::before {
    background: url("../assets/TypeScript.svg") no-repeat center / contain;
}

.skills--git::before {
    background: url("../assets/Git.svg") no-repeat center / contain;
}

.skills--java::before {
    background: url("../assets/Java-Dark.svg") no-repeat center / contain;
}

.skills--mysql::before {
    background: url("../assets/MySQL-Dark.svg") no-repeat center / contain;
}